<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandas <%= g[0].genero %></title>
</head>
<body>
    <h1>Bandas de <%= g[0].genero %></h1>
    <p>Welcome to my page</p> 
    <%-include('./partials/menu')%>
    <ul>
        <% g.forEach(function(banda) { %>
            <li>
                <h3><%= banda.nombre %></h3>
                <p>Genero: <%= banda.genero %></p>
                <h4>TOP Canciones:</h4>
                <ul> 
                <% for(i=0;i<banda.topCanciones.length;i++){ %>
                    <li> <%= banda.topCanciones[i] %></li>
                <% } %>
                </li><br>
                </ul>
        <% }); %>
    </ul>
</body>
</html>