<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= banda.nombre %></title>
</head>
<body>
    <h1>Por ID</h1>
    <%-include('./partials/menu')%>
    <ul>
        <% banda.forEach(b => { %>
            <img src= "<%= b.cover %>"  alt="Cover de <% b.nombre %>">
            <li>
                <h3><%= b.nombre %></h3>
                <p>Genero: <%= b.genero %></p>
                <p>Integrantes: <%= b.integrantes %></p>
                <h4>TOP Canciones:</h4>
                <ul> 
                <% for(i=0;i<b.topCanciones.length;i++){ %>
                    <li> <%= b.topCanciones[i] %></li>
                <% } %>
                <p> <a href="<%b.video%>" target="_blank">VIDEO</a></p>
                </ul><br>
        <% }); %>
    </ul>

    
</body>
</html>